<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <title>Lapas virsraksts</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
    <h1>Sveiks apmeklētājs!</h1>
    <a href="/about"> Go to about</a>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ipsum maxime obcaecati optio rem veritatis! Aperiam dignissimos distinctio dolore, doloribus ipsa odio quod recusandae sapiente! Adipisci dicta ipsam placeat quae.</p>
    <img width="300" src="/static/img/zilonis.jpg" alt="Zilonis">
</body>
</html>