{% extends "base.html" %}
<!--Lapas aizliktņa virsraksts-->
{% block title %}
Sign In
{% endblock  title %}

<!--Lapas virsraksts-->
{% block content_title %}
    Logins
{% endblock content_title %}
<!--Lapas saturs-->
{% block content_main %}
<h1 >
        Logins
</h1>

 <form action="/logins" method="POST" ><!-- Galēji neobligāts parametrs -
                                        novalidate, bet testējot to lieto lai
                                        pārbaudītu darbību servera pusē.-->
        {{ form.hidden_tag() }} <!-- Izmanto lai aizsargātu formu pret CSR uzbrukumiem
                                Cros Platform ...., tā izmanto atslēgu no SECRET_KEY
                                no konfigurācijas faila-->
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock content_main %}
<!--Pēdenes daļa-->
{% block content_footer %}

{% endblock content_footer %}
