{% extends "base.html" %}
<!--Lapas aizliktņa virsraksts-->
{% block title %}
Pieteikties darbam
{% endblock  title %}
<!--Lapas virsraksts-->
{% block content_title %}
    Pieteikties darbam
{% endblock content_title %}
<!--Lapas saturs-->
{% block content_main %}
<!--Nemodālais veids pieteikties darbam-->
<div class=" col-md-12 text-dark text-center lightgrey ">
        <h2 >
                Reģistrēties portālā
        </h2>
</div>

<div class="row col-md-4 offset-md-4">
    <form action="/loginform" method="POST">
      <div class="form-group">
        <label for="InputEmail_login">
            E-pasta adrese / Email address
        </label>
        <input type="email" class="form-control" id="InputEmail_login" name="InputEmail_login" aria-describedby="emailHelp"
               placeholder="Enter email / e-pasts">
        <small id="emailHelp" class="form-text text-muted">
            We'll never share your email with anyone else.
            Mēs nekad nepublicēsim jūsu e-pastus nevienam citam.
        </small>
      </div>
      <div class="form-group">
        <label for="InputUserName_login">
            Lietotājvārds / Username
        </label>
        <input type="text" class="form-control" id="InputUserName_login" name="InputUserName_login"
               placeholder="Lietotājvārds / Login name">
      </div>
      <div class="form-group">
        <label for="InputName_login">
            Jūsu vārds / Name
        </label>
        <input type="text" class="form-control" id="InputName_login" name="InputName_login"
               placeholder="Vārds / Name">
      </div>
      <div class="form-group">
        <label for="InputSurName_login">
            Jūsu uzvārds / Surname
        </label>
        <input type="text" class="form-control" id="InputSurName_login" name="InputSurName_login"
               placeholder="Uzvārds / Surname">
      </div>
      <button type="submit" class="btn btn-primary">
          Submit / Iesniegt
      </button>
    </form>
</div>

{% endblock content_main %}

<!--Pēdenes daļa-->
{% block content_footer %}

{% endblock content_footer %}
