{% extends 'base.html' %}

<!--Lapas nosaukums aizliknī-->
{% block title %}
Posti
{% endblock %}



<!--Lapas nosaukusm-->
{% block content_title %}
    <h6 >
        Posti. <span>"vissIrSlikti.lv"</span>
    </h6>
{% endblock %}


<!--Lapas saturs-->
{% block content_main %}
<div>
<h3>Contact me</h3>
{% if name %}
<p>Hello {{ name }}!</p>
{% endif %}
</div>
<form method="post" action="/posts">
    <input type="text" name="contact-name" placeholder="Enter your name">
    <br>

    <input type="email" name="contact-email" placeholder="Enter email address">
    <br>

    <textarea name="contact-message" placeholder="Enter your message"></textarea>
    <br>

    <button type="submit">Submit</button>
</form>
{% endblock %}

<!--Kaut kas apakšā-->
{% block content_footer %}
{% endblock %}
